:root {
	--font-color1: hsl(0, 0%, 98%);
	--font-color2: #73758c;
	--bg1: #181824;
	--bg2: #25273c;
	--blue-color: hsl(220, 98%, 61%);
}

body {
	background-color: var(--bg1);
	font-family: "Josefin Sans", sans-serif;
}
